.btn {
  border: none;
  font-family: var(--first-font);
  font-weight:bold;
  text-align: center;
  box-shadow: 0px 1px 5px var(--black-alpha-color);
  padding: .3rem;
  margin: 1rem;
  transition: all 0.2s ease-out;
  background-color: var(--link-color);
  color: var(--second-color);
}

.btn:hover {
  background-color: transparent;
  color: var(--link-color);
  border: 2px solid var(--link-color);
}

.btnCH {
  width: 6rem;
  height: 2rem;
  font-size: .7rem;
  border-radius: 2rem;
}

.btnGD {
  width: 9rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 3rem;
}

.btnInfo {
  background-color: transparent;
  color: var(--link-color);
  border: 2px solid var(--link-color);
  font-family: var(--first-font);
  font-weight:bold;
  text-align: center;
  box-shadow: 0px 1px 5px var(--black-alpha-color);
  padding: .3rem;
  margin: 1rem;
  transition: all 0.2s ease-out; 
}

.btnInfo:hover {
  background-color: var(--link-alpha-color);  
}