.container-DesktopHeroHome {
	margin: 0 auto;
	width: 100%;
	display: flex;
}

.container-DesktopHeroHome h1 {
	margin: 0;
	width: 60%;
	font-size: 4rem;
}

.col-left {
	margin: 0;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.col-right {
	margin: 0;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ApplePersonaWatch {
	width: 100%;
}

.AppleWatch {
	width: 60%;
}
