/*#####################*/
/*       Layout        */
/*#####################*/
.container-hero-ipad {
	height: 100vh;
	padding-top: 12rem;
	background-color: var(--black-color);
	display: flex;
}

.col-left-ipad {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 5%;
	margin-top: 9%;
	width: 50%;
}

.col-left-ipad span {
	margin-bottom: -2%;
}

.col-left-iphone p {
	margin-top: 3%;
}

.btn-hero-ipad {
	margin-top: 3%;
}

.col-right-ipad {
	width: 50%;
}

.IpadProHero {
	width: 56.8%;
	/* margin-bottom: -0.4%; */
}

/*#####################*/
/* Typography & Design */
/*#####################*/

.col-left-ipad span {
	color: var(--third-color);
	font-size: 3rem;
}

.col-left-ipad h2 {
	color: var(--second-color);
	font-size: 5.5rem;
}

.col-left-ipad p {
	color: var(--third-color);
	font-size: 1.7rem;
	line-height: 2.6rem;
	letter-spacing: 0.04rem;
}
