/*#####################*/
/*       Layout        */
/*#####################*/
.container-hero-home {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-left-hero-home {
	width: 100%;
	margin-top: 9rem;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-hero-home h1 {
	margin: 0;
	margin-bottom: 13vw;
	width: 100%;
	font-size: 3.2rem;
}

.ApplePersonaWatch {
	width: 100%;
}

.mobile-background {
	margin-top: -10rem;
	width: 100%;
	height: 20rem;
	background: linear-gradient(6deg, rgba(0, 0, 0, 1) 74.7%, rgba(255, 255, 255, 0) 75%);
}

.col-right-hero-home {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%);
	width: 100%;
	margin-top: -6rem;
	padding: 0 5%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8rem;
}

.AppleWatch {
	width: 100%;
	max-width: 700px;
	/* margin-top: 6rem; */
	position: relative;
	order: 1;
}

.col-right-hero-home p {
	color: var(--second-color);
	width: 100%;
	font-size: 1.2rem;
	line-height: 2.2rem;
	text-align: center;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.col-left-hero-home {
		margin-top: 20vw;
	}

	.container-hero-home h1 {
		font-size: 3.7rem;
	}

	.col-right-hero-home {
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 68%, rgba(255, 255, 255, 1) 68%);
	}
}

@media screen and (min-width: 1024px) {
	.container-hero-home {
		display: flex;
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 95%;
		z-index: 0;
	}

	.col-left-hero-home {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 13rem;
		width: 50%;
	}

	.container-hero-home h1 {
		margin: 0;
		margin-bottom: 6rem;
		width: 90%;
		font-size: 4.5rem;
	}

	.ApplePersonaWatch {
		margin-left: 11rem;
		width: 105%;
	}

	.col-right-hero-home {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 13rem;
		width: 50%;
	}

	.AppleWatch {
		margin-left: 10%;
		width: 70%;
	}

	.col-right-hero-home p {
		margin-left: 10%;
		margin-top: 4rem;
		width: 70%;
		font-size: 1.8rem;
		line-height: 2.4rem;
		text-align: center;
	}
}
