.container-hero-iphone {
	margin-top: 20vw;
	padding-top: 7rem;
	background-color: var(--black-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-left-iphone {
	margin: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.col-left-iphone > span {
	margin-bottom: 0;
	color: var(--new-color);
	font-size: 1rem;
}

.col-left-iphone h2 {
	margin-bottom: 1em;
	color: var(--second-color);
	font-size: 2.6rem;
}

.col-left-iphone p {
	color: var(--third-color);
	font-size: 1.2rem;
	line-height: 1.8rem;
	letter-spacing: 0.04rem;
}

.btn-hero-iphone {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}

.col-right-iphone {
	width: 100%;
	margin-top: 4rem;
}

.IphoneProHero {
	width: 90%;
	float: right;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.col-left-iphone {
		margin: 0;
	}

	.col-left-iphone > span {
		font-size: 1.2rem;
	}

	.col-left-iphone h2 {
		margin-bottom: 0.8em;
		font-size: 3rem;
	}

	.col-left-iphone p {
		font-size: 1.3rem;
		line-height: 2.1rem;
	}
}

@media screen and (min-width: 1024px) {
	.container-hero-iphone {
		height: 100vh;
		margin-top: 6rem;
		padding-top: 0rem;
		position: relative;
		z-index: 1;
		flex-direction: row;
	}

	.col-left-iphone {
		width: 50%;
		height: 100%;
		margin-top: 0%;
		margin-left: 5%;
		padding-left: 3em;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
	}

	.col-left-iphone > span {
		margin-bottom: -0.4rem;
	}

	.col-left-iphone h2 {
		font-size: 2.5rem;
	}

	.col-left-iphone p {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	.btn-hero-iphone {
		flex-direction: row;
	}

	.col-right-iphone {
		height: 100%;
		width: 50%;
		margin-top: 0;
		display: flex;
		justify-content: end;
		align-items: flex-end;
	}

	.IphoneProHero {
		width: 100%;
	}
}

@media screen and (min-width: 1366px) {
	.col-left-iphone h2 {
		font-size: 3rem;
	}

	.col-left-iphone p {
		font-size: 1.3rem;
		line-height: 2.1rem;
	}
}

@media screen and (min-width: 1920px) {
	.container-hero-iphone {
		height: 100vh;
		margin-top: 0;
		padding-top: 7rem;
	}

	.col-left-iphone {
		padding-left: 0;
		margin-left: 0;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.col-left-iphone > span {
		margin-bottom: -0.4rem;
		font-size: 1.2rem;
	}

	.col-left-iphone h2 {
		margin-bottom: 0.8em;
		font-size: 3.8rem;
	}

	.col-left-iphone p {
		font-size: 1.4rem;
		line-height: 2.1rem;
		letter-spacing: 0.06rem;
	}
}
