.container-hero-home {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-left-hero-home {
	width: 100%;
	margin-top: 9rem;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-hero-home h1 {
	width: 100%;
	margin: 0;
	margin-bottom: 13vw;
	font-size: 3.2rem;
}

.ApplePersonaWatch {
	width: 100%;
}

.mobile-background {
	width: 100%;
	height: 20rem;
	margin-top: -10rem;
	background: linear-gradient(6deg, rgba(0, 0, 0, 1) 74.7%, rgba(255, 255, 255, 0) 75%);
}

.col-right-hero-home {
	width: 100%;
	margin-top: -6rem;
	padding: 0 5%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 80%, rgba(255, 255, 255, 1) 80%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8rem;
}

.AppleWatch {
	width: 100%;
	max-width: 700px;
	order: 1;
}

.col-right-hero-home p {
	width: 100%;
	color: var(--second-color);
	font-size: 1.3rem;
	line-height: 2.2rem;
	text-align: center;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.col-left-hero-home {
		margin-top: 20vw;
	}

	.container-hero-home h1 {
		font-size: 3.7rem;
	}

	.col-right-hero-home {
		background: linear-gradient(180deg, rgba(0, 0, 0, 1) 70%, rgba(255, 255, 255, 1) 70%);
	}

	.col-right-hero-home p {
		width: 90%;
		font-size: 1.4rem;
		line-height: 2.4rem;
	}
}

@media screen and (min-width: 1024px) {
	.container-hero-home h1 {
		width: 90%;
		font-size: 4.2rem;
	}

	.mobile-background {
		background: linear-gradient(4deg, rgba(0, 0, 0, 1) 74.7%, rgba(255, 255, 255, 0) 75%);
	}

	.col-right-hero-home p {
		width: 80%;
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

@media screen and (min-width: 1366px) {
	.container-hero-home {
		width: 95%;
		height: 100vh;
		margin: 0 auto;
		padding-top: 12rem;
		text-align: center;
		position: relative;
		z-index: 0;
		display: flex;
		flex-direction: row;
	}

	.col-left-hero-home {
		width: 50%;
		height: 100%;
		margin-top: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.container-hero-home h1 {
		width: 90%;
		margin-bottom: 6rem;
	}

	.ApplePersonaWatch {
		width: 105%;
		margin-left: 10rem;
	}

	.mobile-background {
		display: none;
	}

	.col-right-hero-home {
		width: 50%;
		height: 100%;
		margin-top: 0;
		background: transparent;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
	}

	.AppleWatch {
		width: 90%;
		max-width: 530px;
		margin-left: 15%;
		order: 0;
	}

	.col-right-hero-home p {
		width: 80%;
		margin-left: 15%;
		margin-top: 6rem;
		color: var(--first-color);
		font-size: 1.7rem;
		line-height: 2.5rem;
		text-align: center;
	}
}
