.container-hero-mac {
	padding: 7rem 5%;
	background-color: var(--black-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-hero-mac > h2 {
	margin-bottom: 1.5em;
	color: var(--second-color);
	font-size: 2.6rem;
}

.container-hero-mac > p {
	color: var(--third-color);
	font-size: 1.2rem;
	line-height: 1.8rem;
	letter-spacing: 0.04rem;
}

.MacProHero {
	display: none;
}

.MacProHero2 {
	width: 90%;
	margin-bottom: 10vw;
}

.btn-hero-mac {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.container-hero-mac {
		padding-block: 13vw;
	}

	.container-hero-mac > h2 {
		font-size: 3rem;
	}

	.container-hero-mac > p {
		font-size: 1.3rem;
		line-height: 2.1rem;
	}
}

@media screen and (min-width: 1024px) {
	.container-hero-mac {
		height: 100vh;
		padding: 10vw 5%;
	}

	.container-hero-mac > h2 {
		margin-bottom: 0.5em;
	}

	.MacProHero {
		width: 100%;
		display: inherit;
	}

	.MacProHero2 {
		display: none;
	}
}

@media screen and (min-width: 1366px) {
	.container-hero-mac {
		height: 100vh;
		padding: 8vw 5%;
	}

	.MacProHero {
		width: 80%;
		margin-bottom: 0;
		display: inherit;
	}

	.btn-hero-mac {
		margin-top: 2em;
	}
}

@media screen and (min-width: 1920px) {
	.container-hero-mac {
		padding-top: 8em;
	}

	.container-hero-mac > h2 {
		font-size: 3.8rem;
	}

	.container-hero-mac > p {
		font-size: 1.4rem;
		line-height: 2.1rem;
		letter-spacing: 0.06rem;
	}
}
