.container-hero-iphone {
	margin-top: 20vw;
	padding-top: 20vw;
	background-color: var(--black-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.col-left-iphone {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.col-left-iphone span {
	margin-bottom: 0;
	color: var(--new-color);
	font-size: 1rem;
}

.col-left-iphone h2 {
	margin-bottom: 1.5rem;
	color: var(--second-color);
	font-size: 2.6rem;
}

.col-left-iphone p {
	color: var(--third-color);
	font-size: 1.2rem;
	line-height: 1.8rem;
	letter-spacing: 0.04rem;
}

.btn-hero-iphone {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.col-right-iphone {
	width: 100%;
	margin-top: 10vw;
}

.IphoneProHero {
	width: 90%;
	float: right;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.col-left-iphone span {
		font-size: 1.2rem;
	}

	.col-left-iphone h2 {
		margin-bottom: 0.8rem;
		font-size: 3.5rem;
	}

	.col-left-iphone p {
		font-size: 1.4rem;
		line-height: 2.1rem;
	}
}

@media screen and (min-width: 1024px) {
	.col-left-iphone span {
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1366px) {
	.container-hero-iphone {
		height: 100vh;
		margin-top: 3.5rem;
		padding-top: 0rem;
		position: relative;
		z-index: 1;
		flex-direction: row;
	}

	.col-left-iphone {
		margin-left: 5%;
		margin-top: 0%;
		padding-left: 5rem;
		width: 50%;
		align-items: flex-start;
		text-align: left;
	}

	.col-left-iphone span {
		margin-bottom: -0.4rem;
	}

	.btn-hero-iphone {
		flex-direction: row;
	}

	.col-right-iphone {
		width: 50%;
	}

	.IphoneProHero {
		width: 100%;
	}
}
