.container-hero-mac {
	padding-top: 10rem;
	padding-bottom: 4.3rem;
	background-color: var(--black-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-hero-mac h2 {
	color: var(--second-color);
	font-size: 5.5rem;
	position: relative;
}

.container-hero-mac p {
	color: var(--third-color);
	font-size: 1.7rem;
	line-height: 2.6rem;
	letter-spacing: 0.04rem;
}

.MacProHero {
	width: 90%;
	height: 500px;
	object-fit: cover;
}

.btn-hero-mac {
	margin-top: 3rem;
}
