.container-hero-mac {
	width: 100vw;
	margin-top: 20vw;
	padding: 20vw 5% 10vw;
	background-color: var(--black-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-hero-mac h2 {
	margin-bottom: 1.5em;
	color: var(--second-color);
	font-size: 2.6rem;
}

.container-hero-mac p {
	color: var(--third-color);
	font-size: 1.2rem;
	line-height: 1.8rem;
	letter-spacing: 0.04rem;
}

.MacProHero {
	display: none;
	width: 260%;
	/* height: 500px; */
	object-fit: cover;
}

.btn-hero-mac {
	margin-top: 2rem;
}

.MacProHero2 {
	width: 100%;
	margin-bottom: 3em;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.container-hero-mac {
		/* margin-top: 20vw; */
		padding-top: 13vw;
	}

	.container-hero-mac h2 {
		margin-bottom: 1.5em;
		font-size: 3.5rem;
	}

	.container-hero-mac p {
		font-size: 1.4rem;
		line-height: 2.1rem;
	}
}

@media screen and (min-width: 1024px) {
	.container-hero-mac {
		padding-top: 9rem;
		padding-bottom: 4.5rem;
		height: 100%;
	}

	.container-hero-mac h2 {
		margin-bottom: 0.3em;
		/* color: var(--second-color); */
		font-size: 3.5rem;
		/* position: relative; */
	}

	.container-hero-mac p {
		font-size: 1.7rem;
		line-height: 2.6rem;
		letter-spacing: 0.04rem;
	}

	.MacProHero {
		display: inherit;
		width: 100%;
		height: 500px;
		/* object-fit: cover; */
	}

	.MacProHero2 {
		display: none;
	}
}

@media screen and (min-width: 1366px) {
	.container-hero-mac {
		padding-top: 9rem;
		padding-bottom: 4.5rem;
		background-color: var(--black-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
	}

	.container-hero-mac h2 {
		margin-bottom: 0.3em;
		color: var(--second-color);
		font-size: 3.5rem;
		position: relative;
	}

	.container-hero-mac p {
		color: var(--third-color);
		font-size: 1.7rem;
		line-height: 2.6rem;
		letter-spacing: 0.04rem;
	}

	.MacProHero {
		width: 90%;
		height: 500px;
		object-fit: cover;
	}

	.btn-hero-mac {
		margin-top: 2rem;
	}
}
