.slider {
	width: 100vw;
	/* margin-bottom: 2rem; */
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 100%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.buttons {
	width: 95%;
	position: absolute;
	display: flex;
	justify-content: space-between;
	z-index: 3;
	bottom: 3%;
}

.right-arrow,
.left-arrow {
	width: 30px;
	cursor: pointer;
	user-select: none;
}

/* ############################################ */
/* ESTO DE ABAJO CREO QUE NO ESTÁ FUNCIONANDO */

/* .slide {
	opacity: 0;
	transition: transform 5s ease-in-out;
}

.slide.active {
	opacity: 1;
	transition: transform 5s ease-in-out;
	transform: translateX(550px);
} */

/* ############################################ */
