.slider {
	width: 100vw;
  height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	object-fit: cover;
  width: 95%;
  height: 85vh;
  border-radius: 2%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.tv-carrousel-arrows {
	display: flex;
	justify-content: center;
	gap: 3em;
	position: absolute;
	z-index: 5;
	bottom: 3%;
}

.right-arrow,
.left-arrow {
	width: 25px;
	cursor: pointer;
	user-select: none;
}

/*  ESTO NO ESTARIA FUNCIONANDO

.slide {
	opacity: 0;
	transform: translateX(0);
	transition: transform 5s ease-in-out;
}

.slide.active {
	opacity: 1;
	transform: translateX(550px);
} */

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.buttons {
		width: 15%;
	}
}

@media screen and (min-width: 1024px) {
	.buttons {
		width: 10%;
	}
}

@media screen and (min-width: 1366px) {
	.buttons {
		width: 5%;
	}
}
