.Wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #5050507e;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.modal {
	width: 450px;
	height: 500px;
	background: var(--second-color);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: scale 0.5s;
	text-align: center;
}

.btn-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--first-color);
}

@keyframes scale {
	0% {
		opacity: 0;
		transform: scaleY(0%) scaleX(0%);
		/* transform: translateY(-50px); */
	}
	100% {
		opacity: 1;
		transform: scaleY(100%) scaleX(100%);
		/* transform: translateY(0); */
	}
}

/************* MODAL CARRITO ************/
.modal-carrito {
	width: 500px;
	height: 500px;
	background: var(--second-color);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	animation: scale 0.5s;
}
/*********** FIN MODAL CARRITO **********/

/*************** MODAL BUY **************/
.modal-buy-container {
	height: 90%;
	width: 90%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal-buy-img {
	width: 60%;
	margin-bottom: 0.7em;
}

.modal-buy-title {
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 0.1em;
}

.modal-buy-description {
	margin-bottom: 1.2em;
	font-weight: 400;
}

.modal-buy-price {
	margin-bottom: 1em;
	font-size: 1.2rem;
	font-weight: 500;
}

.modal-buy-added {
	margin-bottom: 1em;
	font-size: 1.4rem;
}

.ItemAddedAnimation {
	width: 60px;
}
/************* FIN MODAL BUY ************/
