.container-SectionCard {
	display: flex;
	margin: 0 auto;
	margin-bottom: 8.4em;
	width: 90%;
	padding-top: 10em;
	flex-direction: column;
	align-items: center;
}

.container-SectionCard h3 {
	font-size: 3rem;
	margin-top: 0;
	margin-bottom: 1.3em;
}

.cards {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 3em;
}
