.container-SectionCard {
	width: 90%;
	margin: 0 auto;
	padding-top: 6em;
	margin-bottom: 8.4em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-SectionCard h3 {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 2rem;
	text-align: center;
}

/* .cards {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column; 
	align-items: center;
	gap: 5em;
} */

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.cards {
		/* HACER EL GRID ACA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
	}
}

@media screen and (min-width: 1366px) {
	.container-SectionCard {
		display: flex;
		margin: 0 auto;
		margin-bottom: 8.4em;
		width: 90%;
		padding-top: 10em;
		flex-direction: column;
		align-items: center;
	}

	.container-SectionCard h3 {
		font-size: 3rem;
		margin-top: 0;
		margin-bottom: 1em;
	}

	.cards {
		width: 100%;
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		gap: 3em;
	}
}
