.container-SectionCard {
	width: 90%;
	margin: auto;
	padding-block: 8em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.container-SectionCard > h3 {
	margin-bottom: 1.5em;
	font-size: 2rem;
	text-align: center;
}

.cards {
	width: 100%;
	display: grid;
	grid-template: auto auto / auto auto;
	justify-items: center;
	gap: 4em 2em;
}
.productCarrousel {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right-arrow,
.left-arrow {
	/* width: 30px; */
	margin-top: 1.3em;
	cursor: pointer;
	user-select: none;
	font-size: 2em;
	color: #00000080;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 1366px) {
	.container-SectionCard > h3 {
		margin-bottom: 1.2em;
		font-size: 3rem;
	}

	.cards {
		grid-template: auto / auto auto auto auto;
		gap: 0.5em;
	}
}

@media screen and (min-width: 1920px) {
	.container-SectionCard {
		height: 100vh;
		padding-top: 11em;
		margin-bottom: 3em;
	}

	.container-SectionCard > h3 {
		margin-bottom: 2.8em;
	}
}
