.CartItem {
	padding: 15px 10px;
	display: grid;
	grid-template-columns: 3fr 4fr 2fr 1fr 1fr;
	grid-template-rows: auto;
	place-items: center;
	position: relative;
	list-style-type: none;
	border-bottom: 1px solid gray;
}

.CartItem:nth-child(1) {
	border-top: 1px solid gray;
}

.CartItem-img {
	width: 100%;
}

.CartItem-title {
	margin-left: 0.5em;
	font-size: 1em;
	justify-self: flex-start;
}

.CartItem-total {
	justify-self: flex-start;
}

.CartItem-quantity {
	font-weight: 500;
	font-size: 1.1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.CartItem-quantity > button {
	width: 20px;
	height: 20px;
	padding: 0;
	font-size: 0.8em;
	font-weight: 400;
	align-self: center;
	cursor: pointer;
	display: grid;
	place-content: center;
}

.CartItem-quantity__num {
	padding: 10px;
}

.CartItem-RemoveAll {
	background-color: transparent;
	margin-top: 4px;
	margin-left: 0.5em;
	font-size: 1.2rem;
	border: 0;
	cursor: pointer;
}
