.CartItem {
	padding: 15px 0;
	display: flex;
	align-items: center;
	gap: 5px;
	list-style-type: none;
	border-bottom: 1px solid gray;
}

.CartItem:nth-child(1) {
	border-top: 1px solid gray;
}

.CartItem-img {
	width: 25%;
}

.CartItem-title {
	flex-grow: 1;
}

.CartItem-quantity {
	font-weight: 500;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
}

.CartItem-quantity > button {
	width: 25px;
	height: 25px;
	padding: 0;
	font-size: 1em;
	font-weight: 400;
	align-self: center;
	cursor: pointer;
	display: grid;
	place-content: center;
}

.CartItem-quantity__num {
	padding: 10px;
	background-color: var(--second-color);
}

.CartItem-RemoveAll {
	margin-top: 4px;
	margin-left: 1em;
	font-size: 1.2rem;
	border: 0;
	cursor: pointer;
}
