header {
	margin: 0;
	width: 100vw;
	height: 4rem;
	position: fixed;
	z-index: 75;
	background: var(--first-color);
}

.container-header {
	width: 100%;
	height: 100%;
	padding: 10px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.container-logo {
	height: 100%;
	width: 30px;
	display: flex;
	align-items: center;
	z-index: 900;
}

.container-logo > img {
	height: 80%;
}

.container-icons {
	width: 30px;
	display: flex;
	justify-content: flex-end;
	z-index: 101;
	position: relative;
}

.cartIcon {
	height: 33px;
	cursor: pointer;
	z-index: 101;
}
/* Numerito sobre el carrito */
.item-count {
	position: absolute;
	display: grid;
	place-items: center;
	background-color: var(--link-color);
	color: var(--second-color);
	z-index: 102;
	border-radius: 50%;
	font-size: 12px;
	height: 17px;
	width: 17px;
	bottom: 0;
}

.container-nav > ul {
	width: 100%;
	padding-block: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.container-nav > ul > li {
	padding: 0.5rem;
	list-style: none;
}

.container-nav > ul > li > a {
	color: var(--second-color);
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
	.menu-btn {
		display: none;
	}

	.container-nav {
		position: relative;
		top: 0;
		width: 40%;
		max-width: 30rem;
		background-color: transparent;
		opacity: 1;
		pointer-events: auto;
	}

	.container-nav > ul {
		padding-block: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		gap: 0;
	}

	.container-icons {
		justify-content: space-between;
	}
}
