.cart-wrapper {
	min-width: 378px;
	width: 25%;
	height: fit-content;
	position: fixed;
	top: 4rem;
	right: 0;
	border-radius: 0px 0px 0px 20px;
	background: var(--white-color);
	box-shadow: 0 0 25px black;
	z-index: 50;
	animation: slide 0.5s ease-out;
}

@keyframes slide {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal-cart {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-cart-grid {
	padding-top: 1em;
	min-height: 40px;
	height: fit-content;
	max-height: 50vh;
	overflow-y: auto;
	position: relative;
}

.modal-cart-grid::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(180deg, rgb(143, 143, 143) 0%, rgba(255, 255, 255, 1) 5%);
}

.modal-cart-grid > ul {
	padding: 0;
}

.modal-cart-grid > h4 {
	margin-top: 10px;
}

.modal-cart-bottom {
	width: 100%;
	padding-block: 1em;
	display: grid;
	grid-template-columns: 4fr 2fr 2fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: "checkout total totalNumber clearCart";
	place-items: center;
	border-top: 2px solid var(--third-color);
	/* gap: 5px; */
}

.modal-cart-bottom-checkout {
	grid-area: "checkout";
}

.modal-cart-bottom-total {
	font-family: var(--second-font);
	grid-area: "total";
	justify-self: flex-end;
	font-weight: bold;
}

.modal-cart-bottom-totalNumber {
	grid-area: "totalNumber";
	padding-left: 0.2em;
	font-size: 1.1em;
	justify-self: flex-start;
}

.modal-cart-bottom-clearCart {
	grid-area: "clearCart";
}
