

.container-footer {
	background:var(--first-color);
	width: 100vw;
	height: 277px;
	top: 9985px;
	left:-3377px;
}

.logo-footer {
	width: 51px;
	height: 59px;
	margin-top: 80px;
	left: 655px;
	position: relative;

	

}

.footer-content{
	display:grid;
	grid-template-columns:25% 25% 25% 25%;
}

.footer-content h2 {
	font:var(--first-font "Montserrat", sans-serif);
	font-weight: 500;
	font-size: 18px;
	line-height: 17.07px;
	text-align: center;
	color: var(--third-color);
	display: flex;
	justify-content:center ;
    margin-top: -130px;
}

.footer-content a{
	text-decoration: none;
	color: var(--third-color);
	font-family:var(--second-font);
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 12px;
	
}

p{
	position: absolute;
	font-family: var(--second-font);
	font-weight: 300;
	font-size: 11px;
	line-height: 14px;
	color:var(--third-color);
	left: 2.80%;
	right: 51%;
	margin-top: 1px;
}
.line {
color: var(--third-color);
width: 93%;
margin-top: -80px;
}


/****** MEDIA QUERY ******/
