.container-footer-mobile {
	background: var(--first-color);
	padding-left: 5%;
	padding-right: 5%;
	color: var(--third-color);
}
.container-footer {
  display: none;
}

.footer-grid {
	padding-block: 2.5rem;
	display: grid;
	gap: 2em;
}

.footer-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

.footer-links h2 {
	margin-bottom: 0.3em;
	font-size: 18px;
	font-weight: 500;
}

.footer-links a {
	color: var(--third-color);
	text-decoration: none;
	font-weight: 300;
	font-size: 13px;
}

.footer-logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-logo img {
	width: 15%;
	max-width: 60px;
}

.footer-copyright {
	padding-top: 0.5em;
	padding-bottom: 1em;
	font-size: 10px;
}

@media screen and (min-width: 550px) {
	.footer-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: 2em 0;
	}

	.footer-logo {
		grid-column: 1 / -1;
	}
}

@media screen and (min-width: 768px) {
  .container-footer-mobile{
    display: none;
  }
	.footer-grid {
		grid-template-columns: 1fr 1fr auto 1fr 1fr;
		grid-template-rows: auto;
	}

	.footer-logo {
		grid-column: 3 / 4;
		grid-row: 1 / -1;
	}
	.footer-logo img {
		width: 35%;
		max-width: 100px;
	}
}

@media screen and (min-width: 1024px) {
	.footer-logo img {
		width: 35%;
		max-width: 150px;
	}
}
