.btn {
	margin: 0.5em 0;
	padding: 0.3em 1.2em;
	font-family: var(--second-font);
	color: var(--second-color);
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.btnBuy {
	background-color: var(--link-color);
	box-shadow: 0px 1px 5px var(--black-alpha-color);
	border-radius: 1em;
	border: 2px solid var(--link-color);
}

.btnInfo {
	background-color: transparent;
	font-family: var(--second-font);
	color: var(--link-color);
	font-size: 1rem;
	/* font-weight: bold; */
	border: none;
}

.btnSubmit {
	background-color: var(--link-color);
	box-shadow: 0px 1px 5px var(--black-alpha-color);
	border-radius: 1em;
	border: 2px solid var(--link-color);
}

.btnCheckout {
	margin-left: 0.5em;
	padding: 0.3em 1.5em;
	color: var(--second-color);
	font-family: var(--second-font);
	font-size: 1em;
	font-weight: 500;
	background-color: var(--link-color);
	box-shadow: 0px 1px 5px var(--black-alpha-color);
	border-radius: 0.7em;
	border: 2px solid var(--link-color);
	cursor: pointer;
}

.btnClear {
	/* margin-left: 1em; */
	/* margin-right: 1em; */
	padding: 0.2em 0.5em;
	font-family: var(--second-font);
	color: var(--second-color);
	font-size: 0.9em;
	background-color: var(--black-alpha-color);
	box-shadow: 0px 1px 5px var(--black-alpha-color);
	border-radius: 0.7em;
	border: 2px solid var(--black-alpha-color);
	cursor: pointer;
}

.btnClear:hover,
.btnClear:focus {
	background-color: transparent;
	color: var(--black-alpha-color);
	border: 2px solid var(--black-alpha-color);
}

.displayNone {
	display: none;
}

.btnBuy:hover,
.btnBuy:focus,
.btnCheckout:hover,
.btnCheckout:hover {
	background-color: transparent;
	color: var(--link-color);
	border: 2px solid var(--link-color);
}

.btnInfo:hover,
.btnInfo:focus {
	text-decoration: underline;
}

/*########### MEDIA QUERIES #########  */
@media screen and (min-width: 768px) {
}

/* .btn {
		border: none;
		font-family: var(--first-font);
		font-weight: bold;
		text-align: center;
		box-shadow: 0px 1px 5px var(--black-alpha-color);
		padding: 0.3rem;
		margin: 1rem;
		transition: all 0.2s ease-out;
		background-color: var(--link-color);
		color: var(--second-color);
	}

	.btn:hover {
		background-color: transparent;
		color: var(--link-color);
		border: 2px solid var(--link-color);
	}

	.btnCH {
		width: 6rem;
		height: 2rem;
		font-size: 0.7rem;
		border-radius: 2rem;
		cursor: pointer;
	}

	.btnGD {
		width: 9em;
		height: 3em;
		font-size: 1rem;
		border-radius: 3rem;
		cursor: pointer;
	}

	.btnInfo {
		background-color: transparent;
		color: var(--link-color);
		border: 2px solid var(--link-color);
		font-family: var(--first-font);
		font-weight: bold;
		text-align: center;
		box-shadow: 0px 1px 5px var(--black-alpha-color);
		padding: 0.3rem;
		margin: 1rem;
		transition: all 0.2s ease-out;
		cursor: pointer;
	}

	.btnInfo:hover {
		background-color: var(--link-alpha-color);
	} */
