/*.************** CUSTOM PROPERTIES **************.*/

:root {
  --first-color: #121212;
  --second-color: #F4F4F6;
  --third-color: #AFAFB4;
  --link-color: #2573BC;
  --new-color: #E99D0A;
  --black-color: #000000;
  --black-alpha-color: #0000007F;
  --white-color: #ffffff;
  --first-font: 'Montserrat', sans-serif;
  --second-font: 'Nunito', sans-serif;
}

/* *********** estilos ***************

First-color =  fondo de navbar, footer y texto con fondo blanco
Second-color = Icono de Apple, iconos de buscar y carrito, letras en hover, títulos de secciones, 
Third-color = color de textos en navbar, footer y texto de algunas secciones con fondo oscuro
Link-color = botones y enlaces llamativos
New-color = sección de las tarjetas
Black-color = por si se tiene q usar negro puro
White-color = por si se tiene q usar blanco puro
Black-alpha-color = negro con transparencia */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


