/** CUSTOM PROPERTIES **/

:root {
	--first-color: #121212;
	--second-color: #f4f4f6;
	--third-color: #afafb4;
	--link-color: #2573bc;
	--link-alpha-color: #2573bc40;
	--new-color: #e99d0a;
	--black-color: #000000;
	--black-alpha-color: #1c1c1c;
	--white-color: #ffffff;
	--first-font: "Montserrat", sans-serif;
	--second-font: "Nunito", sans-serif;
}

/* ** estilos **

First-color =  fondo de navbar, footer y texto con fondo blanco
Second-color = Icono de Apple, iconos de buscar y carrito, letras en hover, títulos de secciones, 
Third-color = color de textos en navbar, footer y texto de algunas secciones con fondo oscuro
Link-color = botones y enlaces llamativos
New-color = sección de las tarjetas
Black-color = por si se tiene q usar negro puro
White-color = por si se tiene q usar blanco puro
Black-alpha-color = negro con transparencia */

* {
	box-sizing: border-box;
	margin: 0;
	/* padding: 0; */
}

html {
	scroll-behavior: smooth;
	font-family: var(--first-font);
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-out;
}

a:hover {
	opacity: 0.75;
}

.none {
	display: none;
}
